.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;
}

body {
  background-color: black;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 white;
  font-size: 8rem;
  color: red;
}

p {
  font-size: 2rem;
  color: red;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 10%;
  text-align: center;
  font-size: 1rem;
  color: whitesmoke;
  font-family: cursive;
}